<h1>List of all Toys</h1>

<ul>
    <% @toys.each { |toy| %>
        <li><%= "#{toy["name"]}, #{toy["description"]}. Listed by: #{toy["user"]} on #{toy["date"]}." %><%= link_to("Show", toy_path(toy["id"])) %></li>
    <% } %>
</ul>

<%= link_to("Add new toy", new_toy_path) %>